<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
        <add assembly="NLog.Targets.Splunk" />
    </extensions>
    <targets>
        <target name="Splunk"
            xsi:type="SplunkHttpEventCollector"
            serverUrl="http://localhost:8088"
            token="9891f64e-c67c-4d3a-b8a1-232757071b4e"
            channel="channel-guid"
            retriesOnError="0"
            batchSizeBytes="0"
            batchSizeCount="0"
            includeEventProperties="true"
            includeMdlc="false"
            includePositionalParameters="false"
            MaxConnectionsPerServer="10"
            IgnoreSslErrors="false">
            <contextproperty name="host" layout="${machinename}" />
            <contextproperty name="threadid" layout="${threadid}" />
            <contextproperty name="logger" layout="${logger}" />
        </target>
    </targets>
    <rules>
        <logger name="*" minlevel="Trace" writeTo="Splunk" />
    </rules>
</nlog>