<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
        <add assembly="NLog.Targets.Splunk" />
    </extensions>
    <target name="Splunk"
        xsi:type="SplunkHttpEventCollector"
        serverUrl="http://localhost:8088"
        token="c90f279e-641b-4851-b02b-5ed215ffc68d"
        source="${logger}"
        sourceType="_json"
        index="your-index-name"
        batchSizeCount="10"
        batchSizeBytes="262144"
        includeEventProperties="true">
        <!-- Additional context properties if needed -->
        <contextproperty name="host" layout="${machinename}" />
        <contextproperty name="threadid" layout="${threadid}" />
        <contextproperty name="logger" layout="${logger}" />
    </target>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="Splunk" />
    </rules>
</nlog>